*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
}

main{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 600px;
    background-color: #db7f15;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 00px 0px 23px 2px #fffdfc;
    
}

.container .container-card{
    width: 380px;
    height: 580px;
    border: 1px solid #cfccc9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
        
}

.container-card-fondo {

    width: 380px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    
    
}

.container-card-fondo img{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    

}

.container-card-img {
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    
    
    
}

.container-card-cuore {
    
    display: flex;
    justify-content:right;
    padding-top: 10px;
    padding-right: 5px;
}

.container-card-cuore img{
    width: 20px;
    height: 20px;
    
   
    z-index: 3;
}

.container-card-img img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 3px solid #f1e6e6;
    z-index: 2;
    
    
}

.container .container-card .container-card-localizacion{

    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    


}

.container .container-card .container-card-localizacion p {

    padding: 0px 10px;
}


.container .container-card .container-card-localizacion img{
    width: 20px;
    height: 20px;
    
}

.container .container-card .container-card-localizacion p{
    color: #f1e6e6;
    font-size: 14px;
  
}

.container-card-nombre, .container-card-raza {
    display: flex;
    justify-content: center;
}

.container-card-nombre, .container-card-raza p{

    font-size: 20px;
    color: #f1e6e6;
    padding-top: 15px;
}

.footer-card{
    width: 100%;
    height: 60px;
    margin-top: 70px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: #f8f7f6;
    background-color: #070707;
    cursor: pointer;
}

.footer-card p{
    padding-bottom: 10px;
}

